/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* --------------------------------------- */

/* shared style */

.display-flex {
  display: flex;
}

.text-color-orange {
  color: #FEA301;
}

.text-color-sky-blue {
  color: #01ACFD;
}

.text-color-paste {
  color: #05D4DF;
}

.text-color-purpel {
  color: #5D58EF;
}

.hide {
  display: none;
}

/* Header ,Nav and Button Style */
header{
  max-width: 1440px;
  margin: 0 auto;
}
.marq-sec {
  padding: 0px 140px;
}
.marq {
  background-color: rgb(255, 255, 255);
}

.marq-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: rgb(40, 170, 109);
}

.brand {
  display: flex;
  align-items: center;

}

.logo {
  max-width: 62px;
  max-height: 62px;
}

.brand-name {
  font-size: 2rem;
  margin-left: 10px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;

}

.nav-links {
  display: flex;
  padding-left: 186px;
}


.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25em;
}

.contact-btn {
  width: 197px;
  height: 50px;
  padding: 10px 60px;
  margin: auto;
  border-radius: 20px;
  background-color: #FF900E;
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  border: none;
}

.hb-menu {
  width: 52px;
  height: 52px;
  background-color: none;
  display: none;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 141px;
  padding-right: 141px;
}

.banner-title {
  font-size: 3.5rem;
}

.banner-description {
  font-size: 1.25rem;
  margin-top: 24px;
}

.banner-img {
  margin-left: 50px;
}

.enroll-btn {
  width: 197px;
  height: 50px;
  padding: 10px 47px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: #111111;
  font-size: 1.15rem;
  font-weight: 800;
  color: #ffffff;
  border: none;
}

/* --------------------------------------- */

/* Main Style */
main {
  max-width: 1440px;
  margin: 0 auto;

}
/* --------------------------------------- */


/* Curriculam Section */

.curriculam {
  background-image: url(../assets/bg.png);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-img {
  margin: 0 auto;

}

.curriculam-title {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 80px;
}

.curriculam-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  margin-top: 80px;
}

.curriculam-card-item {
  width: 367px;
  height: 476px;
  border-radius: 18px;
  text-align: center;
  padding-top: 80px;
}

.card-bg1 {
  border: 0.94px solid rgb(222, 245, 255);
  background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-bg2 {
  border: 0.94px solid rgb(255, 244, 220);
  background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-bg3 {
  border: 0.94px solid rgb(242, 232, 255);
  background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculam-card-title {
  padding-top: 30px;
}


.curriculam-card-description {
  font-size: 1rem;
  color: rgba(128, 128, 128, 1);
  padding-top: 30px;
}

.readmore-btn {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 33px;
  border: none;
  background-color: white;
}

.curriculam-btn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  border: none;
}

.l-btn, .r-btn{
  border: none;
  background-color: white;
}

.l-btn:hover, .r-btn:hover {
  background-color: rgb(179, 48, 128);
}

/* --------------------------------------- */


/* Stories Section */

.stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.stories-title {
  font-size: 2.8rem;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.stories-card {
  display: flex;
  gap: 19px;
}

.stories-big-card {
  width: 540px;
  height: 630px;
  gap: 19px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.stories-card-img {
  border-radius: 16px 16px 0px 0px;
}

.stories-big-card-title {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 58px;
  padding-left: 38px;

}

.stories-big-card-description {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  padding-top: 47px;
  padding-left: 38px;
}

.stories-small-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.39px;
}


.stories-small-card-items {
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.stories-small-card-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  padding-left: 38px;
}

#date-btn-blue {
  width: 175px;
  height: 48px;
  border-radius: 48px;
  border: none;
  background: rgb(60, 216, 232);
  color: white;
  position: absolute;
  margin-left: 50px;
  margin-top: -290px;
}


#date-btn-olive {
  width: 157px;
  height: 38px;
  border-radius: 48px;
  border: none;
  background: rgb(149, 178, 38);
  color: white;
  position: absolute;
  margin-left: 38px;
  margin-top: -24px;
}

#date-btn-purple {
  width: 157px;
  height: 38px;
  border-radius: 48px;
  border: none;
  background: rgb(93, 88, 240);
  color: white;
  position: absolute;
  margin-left: 38px;
  margin-top: -24px;
}


.view-btn {
  width: 197px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 61px;
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 12px;
  background-color: #111111;
  font-size: 1.15rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
}

/* --------------------------------------- */

footer {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(1, 172, 253);
  color: white;
}

.footer-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 140px 123px;
  gap: 150px;
}


.footer-logo {
  width: 69px;
  height: 69px;
}


.brand-infos {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ftitle{
  margin-left: 30px;
}


.fnav-item{
  list-style: none;
  margin-bottom: 30px;
}

.fnav-link{
  text-decoration: none;
  color: white;
}


/* --------------------------------------- */
@media screen and (max-width: 576px) {

  .brand-name,
  .contact-btn,
  .curriculam-btn,
  .nav-links {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    border-bottom: 2px solid #FF900E;
    padding-bottom: 10px;
  }

  .hb-menu {
    display: flex;
  }

.marq-sec {
  padding: 0px;
}


  .banner {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
  }

  .banner-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: -30px;
  }

  .banner-description{
    font-size: 1rem;
    font-weight: 500;
  }

  .banner-img{
    margin: 0 auto;
    width: 336px;
    height: 413px;
  }

  .curriculam {
    margin-left: 10px;
    margin-right: 10px;
  }

.curriculam-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 29px;
  margin-top: 10px;
}

.curriculam-title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 80px;
  
}
.curriculam-card-item {
  width: 357px;
  height: 321px;
  border-radius: 18px;
  padding-top: 20px;
}

.curriculam-card-title {
  padding-top: 0px;
}

.curriculam-card-description {
  font-size: 1rem;
  color: rgba(128, 128, 128, 1);
  padding-top: 0px;
}

.readmore-btn {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0px;
  border: none;
  background-color: white;
}

.stories {
padding: 0;
}
.stories-title{
  font-size: 1.8rem;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}

.stories-big-card{
  display: none;
}

.stories-small-card-items {
  width: 173px;
  height: 179px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 0;
}

.stories-small-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.39px;
  padding: 0;
 
}
.stories-card-img {
  width: 173px;
  height: 105px;
}

.stories-small-card-title {
  font-size: 0.5rem;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  padding-left: 38px;
}

#date-btn-olive {
  width: 103px;
  height: 23px;
  border-radius: 48px;
  border: none;
  background: rgb(149, 178, 38);
  font-size: 0.5rem;
  color: white;
  position: absolute;
  margin-left: -160px;
  margin-top: 93px;
}

#date-btn-purple {
  width: 103px;
  height: 23px;
  border-radius: 48px;
  border: none;
  background: rgb(93, 88, 240);
  font-size: 0.5rem;
  color: white;
  position: absolute;
  margin-left: -160px;
  margin-top: 93px;
}

footer{
  padding: 10px 10px;
}

.footer-sec {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px 0px;
  gap: 0px;
}


}